@import url(https://fonts.googleapis.com/css?family=Itim);

body{
    background: linear-gradient(199deg,#ff8282,#ffd48a,#ffff83) ;
    background-size: cover;
    background-size: auto 2000px;
    /* background-image: repeating-linear-gradient(red,green); */
    font-size: 1.4em;
    font-family: 'Itim', cursive;
    
}

header h3{
    text-align: center;
    font-size: 3em;
    margin: 20px;
    border: slategray 1px dashed;
}

main p{
    text-align: center;
    font-size: 1.4em;
}

form{
    border: 3px solid slateblue;
    padding: 20px;
    margin: 20px;
    width: 50%;
    margin: 10px auto 10px auto ;
    /* text-align: center; */
    justify-items: center;
}


label{
    display: block;
    margin-bottom: 8px;
}

input{
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    margin:2px auto;
}

[type="submit"]{
    width:60%;
    background-color: rgb(0, 214, 46);
    border: rgb(115, 255, 96) 2px solid;
    color:rgb(3, 27, 0);
    padding: 4px;
    font-size: 1.2em;
    margin: 10px auto 10px auto;
}

textarea{
    height: 100px;
    width: 80%;
}

.form-groups{
    margin:20px;
    padding: 10px;
    border: deeppink 2px solid;
}



