@import url(https://fonts.googleapis.com/css?family=Itim);

body{
    /* background: linear-gradient(199deg,#ff8282,#ffd48a,#ffff83) ; */
    background-size: cover;
    background-size: auto 900px;
    background-image: url('1.png');
    font-size: 1.4em;
    font-family: 'Itim', cursive;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header h3{
    text-align: center;
    font-size: 3em;
    margin: 20px;
    border: slategray 1px dashed;
}

main p{
    text-align: center;
    font-size: 1.4em;
}

form{
    border: 3px solid slateblue;
    padding: 20px;
    margin: 20px;
    width: 50%;
    margin: 10px auto 10px auto ;
    /* text-align: center; */
    justify-items: center;
    background-color: rgba(97, 93, 95 , 0.4);
}


label{
    display: block;
    margin-bottom: 8px;
}

input{
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    margin:2px auto;
}

[type="radio"],[type="checkbox"]{
    width: 10%;
}

[type="submit"]:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in;

}

[type="submit"]{
    width:100%;
    background-color: rgb(0, 214, 46);
    border: rgb(115, 255, 96) 2px solid;
    color:rgb(3, 27, 0);
    padding: 4px;
    font-size: 1.2em;

}

select{
    font-size: 1em;
    padding: 8px 5px;
}

option{
    font-size: 1em;
}

textarea{
    height: 100px;
    width: 80%;
}

.form-groups{
    margin:20px;
    padding: 10px;
    /* border: deeppink 2px solid; */
}

}
